.primary {
  background-color: #001449;
  color: #ffffff;
}

.secondary {
  background-color: #ffffff;
  color: #001449;
}

.tiertary {
  background-color: #005bc5;
  color: #ffffff;
  border: 0.1rem solid #005bc5;
}

.wh-button {
  background-color: transparent;
  width: fit-content;
  border: none;
  border-radius: 1rem;
  position: fixed;
  padding: 0;
  bottom: 1rem;
  right: 1rem;
}

.wh-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
