@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Ysabeau+Infant&display=swap');

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 2rem 0;
  color: #001449;
}

p {
  color: #404040;
}

body {
  font-family: 'Fugaz One', sans-serif;
  font-size: 1.4rem;
  line-height: 1.5;
}

#__next {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

button {
  font-size: 1.4rem;
  height: 4.4rem;
  width: 28rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #001449;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 70%;
  }
}

.text-center {
  text-align: center;
}

input,
textarea {
  border-radius: 1rem;
  padding: 0.5rem;
  border: none;
}

input {
  height: 4rem;
}

textarea {
  height: 20rem;
  resize: none;
}

footer {
}
