.container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.footer {
  padding-top: 4rem;
  background-color: #001449;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
