.footer {
  background-color: #001449;
  padding: 2rem 0;
  color: #ffffff;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 768px) {
  .footerContent {
    flex-direction: row;
    gap: 10rem;
  }
}

.footer p {
  color: #ffffff;
}

.footer h2 {
  color: #ffffff;
}
