.container {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.footer {
  background-color: #001449;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}