.product {
  border: 0.1rem #001449 solid;
  border-radius: 1rem;
  width: 30rem;
  margin: 2rem;
}

.product h2 {
  padding-top: 2rem;
  color: #001449;
}

.product button {
  margin: 2rem 0;
}

.image {
  width: 20rem;
  height: 20rem;
}